.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background: rgb(2,231,213);
  background: linear-gradient(148deg, rgba(2,231,213,1) 0%, rgba(2,231,213,1) 5%, rgba(32,32,32,1) 5%);
}

/* h2{
  color: #fff !important;
}

h3{
  color: #fff !important;
}

h4{
  color: #fff !important;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
